<footer class="center">
  <div class="measure">
    <small>
      <a href="/submit">Submit a tip</a>
      &nbsp; &nbsp;
      <a href="/credits">Credits</a>
      &nbsp; &nbsp;
      <a href="/guidelines">Guidelines</a>
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
