<header class="site-header px2 px-responsive">
  {% include header_links.html %}
  {% if page.url == '/' %}
  <div class="mt2 wrap">
    <div class="center">
      <a href="{{ site.url }}">
        <img src="{{ site.baseurl }}/images/logo.png" alt="V" class="site-logo">
      </a>
      <p class="site-description mb0">
        Daily tips for <span>Vue.js</span> developers
      </p>
      <div class="clearfix"></div>
    </div>
  </div>
  {% endif %}
</header>
