<div class="top">
  {% if page.url != '/' %}
  <div class="left">
    <a class="fa fa-angle-left" href="{{ site.url }}">
      <span>Vue.js</span> Tips
    </a>
  </div>
  <div class="center">
    <a href="{{ site.url }}">
      <img src="{{ site.baseurl }}/images/logo.png">
    </a>
  </div>
  {% endif %}
  <div class="right">
    <a id="subscribe-newsletter" href="http://eepurl.com/cKVi4D" target="_blank">
      <i class="fa fa-envelope"></i>
      <span>Get the newsletter</span>
    </a>
    <a class="fa fa-twitter" href="https://twitter.com/vuetips"></a>
    <a class="fa fa-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}"></a>
  </div>
</div>
