.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.site-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  background-color: $footer-bg-color;
  border-top: $footer-border-top;
  color: $footer-color;
  font-size: $footer-font-size;
  font-weight: $footer-font-weight;
  padding: $footer-padding;
  text-align: center;
}

.vuejobs {
  display: block;
  color: inherit;
  background: none;
}

.vuejobs:hover {
  background: none;
}

.vuejobs span  {
  opacity: .5;
}

@media screen and (min-width: 1150px) {
  .vuejobs {
    position: fixed;
    bottom: 5px;
    left: 5px;
    background: #fff;
    font-size: 13px;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    width: 110px;
    padding: 5px;
    line-height: 1.2;
  }
  .vuejobs span {
    display: block;
    padding-top: .4em;
  }
}

@media screen and (min-width: 1250px) {
  .vuejobs {
    left: 20px;
    bottom: 20px;
    border: solid 1px #eee;
  }

  .vuejobs:hover {
    border: solid 1px #ccc;
  }
}

@media screen and (max-width: 1149px) {
  .vuejobs {
    font-size: .8em;
    text-align: center;
    padding: 40px 0;
  }
  .vuejobs span {
    padding-left: 5px;
  }
}
