.site-header {
  padding-top: $space-2;
  padding-bottom: $space-2;
  position: relative;

  .top {
    .left {
      position: absolute;
      top: $space-2;
      left: $space-1;
      color: $dark-green;
      a {
        font-family: 'dosis';
        font-size: 1.2em;
        &:before {
          font-size: .9em;
          font-family: 'FontAwesome';
          margin-right: .2em;
        }
      }
      span {
        color: $green;
      }
    }
    .right {
      position: absolute;
      top: $space-2;
      right: $space-1;
    }
    a {
      font-size: $h3;
    }
    a.fa + a.fa {
      margin-left: .2em;
      color: $dark-green;
    }
    .center {
      position: absolute;
      top: $space-1;
      left: 50%;
      img {
        height: 2rem;
        position: relative;
        left: -$space-1;
      }
    }
  }

  a {
    color: #333;
    font-size: $h3;
    font-weight: 300;
    background-image: none;
  }

  .site-logo {
    width: 82px;
    padding-top: $space-2;
    padding-bottom: $space-1;
  }

  .site-title {
    font-size: $h2;
  }

  .site-description {
    font-size: $h2;
    color: $dark-green;
    font-family: 'dosislight';
    span {
      color: $green;
    }
  }
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header {
  text-align: center;
}


@media screen and (min-width: $viewport-small) {
  #subscribe-newsletter {
    display: inline-block;
    font-size: 12px;
    padding: 3px 6px;
    background: #f3f3f3;
    border: 1px solid #f3f3f3;
    position: relative;
    top: -5px;
    margin-right: 3px;
    border-radius: 3px;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    &:hover {
      background: #fafafa;
    }
  }
}
@media screen and (max-width: $viewport-small) {
  #subscribe-newsletter {
    span {
      display: none;
    }
  }
}
