@media screen and (min-width: $viewport-small) {
  html {
    font-size: 16px;
  }

  h1,
  .h1 {
    font-size: $h1;
  }

  .site-header {
    text-align: left;
  }

  .site-header a {
    font-size: $h4;
  }

  .site-header .site-logo {
    width: 96px;
  }

  .site-header .site-title {
    font-size: $h3;
    float: left;
  }

  blockquote {
    margin-left: $space-3;
    padding: $space-3;
  }

  .social-icons-left {
    text-align: left;
  }

  .social-icons-right {
    text-align: right;
  }
}

@media screen and (min-width: $viewport-medium) {
  html {
    font-size: 18px;
  }

  .site-header .site-logo {
    width: 112px;
  }

  .site-header .top .center img {
    height: 2.5rem;
  }
}

@media screen and (min-width: $viewport-large) {
  html {
    font-size: 20px;
  }

  .site-header .site-logo {
    width: 128px;
  }
}

@media screen and (min-width: $viewport-large + 14) {
  em img {
    max-width: $measure-width + 14;
    margin-left: -7em;
  }
}
