
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-style: italic;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}

.post-nav {
  padding-top: $space-3;
  padding-bottom: $space-3;

  a {
    color: $green;
    text-decoration: none;
    background-image: none;

    span {
      color: $black;
      font-weight: bold;
      display: block;
      line-height: 1.1;
    }
  }
  @media screen and (min-width: $viewport-medium) {
    .next {
      text-align: right;
    }
    &.both {
      .previous, .next {
        width: 50%;
        float: left;
        box-sizing: border-box;
      }
      .previous {
        padding-right: $space-1;
      }
      .next {
        padding-left: $space-1;
      }
    }
  }
  @media screen and (max-width: $viewport-medium) {
    text-align: center;
    &.both .previous {
      padding-bottom: $space-2;
    }
  }
}

.share-links a {
  color: $green;
  text-decoration: none;
  font-size: $h2;
  background-image: none;
  padding: .2em .4em;
  &:hover {
    color: $dark-green;
  }
}

#disqus_thread {
  padding-top: $space-2;
}
