---
layout: default
---

<div class="post-header mb2">
  <h1>{{ page.title }}</h1>
  <span class="post-meta">{{ page.date | date: site.date_format }}</span><br>
  {% if page.update_date %}
    <span class="post-meta">{{ site.text.post.updated }}: {{ page.update_date | date: site.date_format }}</span><br>
  {% endif %}
  {% comment %}
  <span class="post-meta small">
  {% if page.level %}
    Level : {{ page.level }}
  {% endif %}
  {% if page.tags %}
    Tags : {{ page.tags }}
  {% endif %}
  </span>
  {% endcomment %}
</div>

<article class="post-content">
  {{ content }}
</article>

{% if site.show_sharing_icons %}
  {% include share_buttons.html %}
{% endif %}

{% if site.disqus_shortname %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname  = '{{ site.disqus_shortname }}';
    var disqus_identifier = '{{ page.id }}';
    var disqus_title      = {{ page.title | jsonify }};

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}


{% comment %}
<div class="post-nav{% if page.previous and page.next %} both{% endif %}">
  {% if page.previous %}
  <div class="previous">
    <a href="{{ page.previous.url }}">
      &lt; Previous
      <span>{{ page.previous.title }}</span>
    </a>
  </div>
  {% endif %}
  {% if page.next %}
  <div class="next">
    <a href="{{ page.next.url }}">
      Next &gt;
      <span>{{ page.next.title }}</span>
    </a>
  </div>
  {% endif %}
  <div class="clearfix"></div>
</div>
{% endcomment %}


<h2 class="mb3">Latest posts</h2>
{% for post in site.posts %}
  {% if post.url != page.url %}
  <div class="post mb3">
    <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
      <h3 class="post-title">
        <i class="fa fa-caret-right"></i>
        {{ post.title }}
      </h3>
      <p>
        {{ post.summary }}
      </p>
    </a>
  </div>
  {% endif %}
{% endfor %}
